/* Introduction Page */
#introduction{
    background-color: #F94C66;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 60px;
  
}

.container-fluid{
    padding-left: 0;
    padding-bottom: 0;

}


.iphone-pic{
    width: 220px;
    transform: rotate(25deg);
    
    
}

.btn{
    margin-top: 30px;
    margin-right: 15px;
    
}
.headings-row{
    padding-top: 50px;
}

.first-headings1{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    color: white;
    font-weight: 756;
    font-size: 55px;

}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}
.nav-link{
    
    color: white;
    
    
}
.nav-item{
    padding: 10px;
    color: white;
    
}


/* Icon Explainations */

#icon-explainations{
    padding-top: 150px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 150px;
}

.firstcolumn{
    text-align: center;
    padding: auto 80px;
}



.second-headings1{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 30px;
    font-weight: 596;
    margin-top: 10px;

}



.secondcolumn{
    padding-left: 100px;
    padding-right: 100px;
}

.fa-4x{
    color: #F94C66
}

.fa-4x:hover{
    color: #1605fd
}


/* Carousal Properties */



.carousel-item{
    background-color: #F94C66;
    height: 500px;
    padding-top: 50px;

}

h3{
    color: #898AA6;
    font-size: 15px;
    text-align: center;
}

.first-slide{
    text-align: center;
    width: 65%;
    margin: auto;

}

.dogimage{
    border-radius: 100%;
    width: 120px;
    margin-right: 20px;
}

.third-headings1{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 4rem;
    color: white;
}


/* Press Logos */

#press-logos{
    background-color: #F94C66;
    text-align: center;
    padding-bottom: 50px;
}

.logo{
    width:15%;
    margin-left: 15px;
    margin-right: 15px;
}


/* Price Tags and Informations */

#price-tag{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.fourth-headings1{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 4rem;
    text-align: center;

}

.row3{
    padding-top: 50px;
    text-align: center;
}

/* last-introduction */

#last-introduction{
    background-color: #F94C66;
    text-align: center;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.fifth-headings1{
    color: white;
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 4rem;
    text-align: center;
}


.container-fluid2{
    width: 50%;
}


/* Copyright-Part */

#Copyright-Part{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.icons{
    padding-left: 15px;
    padding-right: 15px;
}

h3{
    margin-top: 25px;
    color:#898AA6;
    font-size: 15px;
}




/* Responsiveness Using Media Query */

@media (max-width: 835px) {
    .iphone-pic{
        margin-top: 40px;
        text-align: center;
        transform: rotate(0);
        width: 320px;
        padding: 0;
        position: relative;
        right: 30px;
        
    }

    .first-headings1{
        font-size: 40px;
        font-weight: 200;

    }
    .firstcolumn{
        margin-top: 20px;
        margin-bottom: 20px;

    }
    #press-logos{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .ladyimage{
        width: 50px;
    }

    
   
}

